.race-field {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted;
  max-height: 6.5vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.finish-img {
  margin-right: 10vw;
  width: 10vw;
}
.race-img {
  margin-top: -3vw;
  height: 9vw;
  width: 10vw;
}

