.race-field {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted;
  max-height: 8vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  position: relative;
}

.finish-img {
  margin-right: 10vw;
}
.race-img {
  position: absolute;
  margin-top: 1.5vw;
  margin-left: 30vw;
}

.race-img,
.finish-img {
  width: 10vw;
  height: 9vw;
}
